 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4e9b8e;
    color: white;
    padding: 15px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background-color: #f2a365;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 20px;
}

.hero .cta-button {
    background-color: #1e2c7f;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.hero .cta-button:hover {
    background-color: #0d1a56;
}

.section {
    padding: 60px 20px;
    text-align: center;
    color: #000;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-image {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
}
 

.breeds-container {
    display:flex;
     
   
}

.breed h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 20px;
    margin: 10px 0;
}

.gallery {
    display: flex;
    justify-content: space-around;
  flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 500px;
    max-width: 500px;
    border-radius: 10px;
}

form input, form textarea {
    width: 80%;
    padding: 12px;
    margin: 10px 0;}
   .horse1{
    width: 700px;
    max-width: 800px;
   }
   .horse1{
    width: 425px;
   }
   .horse2{
    width: 500px;
   }
   .horse3{
    width: 500px;
   }
   .button{
    background-color: #0d1a56;
    width: 100px;
    border-color: #4e9b8e;
    border-radius: 5px;
    padding: 10px;
    color: cornsilk;
   }